/src/fastuav/configurations/.ipynb_checkpoints/
/src/fastuav/notebooks/workdir/*
!/src/fastuav/notebooks/workdir/sensitivity_analysis
/src/fastuav/notebooks/workdir/sensitivity_analysis/*
!/src/fastuav/notebooks/workdir/sensitivity_analysis/figures
/src/fastuav/notebooks/workdir/sensitivity_analysis/figures/*
/src/fastuav/notebooks/.ipynb_checkpoints/
/.ipynb_checkpoints/
/src/fastuav/models/performance/.pytest_cache/
/src/fastuav/notebooks/outcmaes/
/src/fastuav/missions/.ipynb_checkpoints/
/src/fastuav/data/.ipynb_checkpoints/
/.pytest_cache/
/src/fastuav/models/propulsion/propeller/aerodynamics/surrogate_models_old.py
/src/fastuav/notebooks/cases.sql
/src/fastuav/configurations/cases.sql
/src/fastuav/utils/postprocessing/old/*
/dist/
/src/fastuav.egg-info/
/src/fastuav/notebooks/contributions_components_v2.ipynb
/src/fastuav/gui/
/src/fastuav/notebooks/reports/
/src/fastuav/notebooks/04_LCA.ipynb
